.users{
    margin-left: 70px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.user{
    margin-top: 30px ;
    background-color: gray;
    border-radius: 10px;
    gap: 20px;
    width: 300px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    text-align: center;
    width: 12vw;
    margin: 0;
    font-style: normal;
}
.id{
    margin-top: 15px;
}
button{
    background-color: red;
    width: 8vw;
    height: 4vh;
    border-radius: 4px;
    margin: 8px;
    font-size: 2vh;
    color: white;
}
button:hover{
    background-color: blue;
    transition: 0.5s;
}